* {
  margin: 0;
}
body {
  background-image: url("../images/basic_radio.png");
  background-repeat: repeat;
}
.struct {
  width: 700px;
  margin: 0 auto;
  height: 100%;
}
p {
  padding: 5px 0;
}
#header {
  background-color: #112220;
  height: 60px;
  border-bottom: 4px solid #666;
}
#footer {
  background-color: #222;
  border-top: 4px solid red;
  height: 100%;
  padding: 20px 0;
}
#header, #footer {
  width: 100%;
  color: #dddddd;
}
#header #logo {
  height: 60px;
  width: 200px;
  padding-top: 20px;
  font-size: 35px;
  float: left;
}
#header a {
  color: #fff;
  text-decoration: none;
}

#content {
  clear: both;
  min-height: 350px;
}
#footer {
  text-align: center;
}
#footer .inline_list {
  margin: 0 auto;
}

ul#main_menu {
  float: right;
}
ul.inline_list {
  width: 350px;
  height: 50px;
  list-style: none;
}
ul.inline_list li{
  width: 100px;
  float: left;
  height: 50px;
}
ul.inline_list a {
  width: 90px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  display: block;
  font-size: 16px;
  color: #45EE11 !important;
}
/* Parte dos posts */
blockquote {
  width: 600px;
  margin-left: 100px;
  padding: 20px;
}
.article_title {
  padding: 5px 0;
  height: 40px;
  width: 100%;
  font-size: 22px;
}
a.author_name {
  color: #EE3A11 !important;
}
.author_box, .article_body {
  font-size: 15px;
}
.article_body {

}
